@import "tailwindcss";
@plugin "daisyui";
@import "remixicon/fonts/remixicon.css";

@plugin "daisyui/theme" {
  name: "cynical dark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(26% 0.007 34.298);
  --color-base-200: oklch(14% 0.004 49.25);
  --color-base-300: oklch(21% 0.006 56.043);
  --color-base-content: oklch(98% 0.001 106.423);
  --color-primary: oklch(57% 0.245 27.325);
  --color-primary-content: oklch(97% 0.013 17.38);
  --color-secondary: oklch(70% 0.191 22.216);
  --color-secondary-content: oklch(0% 0 0);
  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(70% 0.191 22.216);
  --color-neutral: oklch(44% 0.011 73.639);
  --color-neutral-content: oklch(97% 0.001 106.424);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(77% 0.152 181.912);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.3125rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "cynical";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.001 106.423);
  --color-base-200: oklch(97% 0.001 106.424);
  --color-base-300: oklch(92% 0.003 48.717);
  --color-base-content: oklch(44% 0.011 73.639);
  --color-primary: oklch(57% 0.245 27.325);
  --color-primary-content: oklch(97% 0.013 17.38);
  --color-secondary: oklch(70% 0.191 22.216);
  --color-secondary-content: oklch(0% 0 0);
  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(70% 0.191 22.216);
  --color-neutral: oklch(86% 0.005 56.366);
  --color-neutral-content: oklch(26% 0.007 34.298);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(77% 0.152 181.912);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.3125rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}
